.Ending {
  margin-bottom: 36px;
  margin-top: 36px;
}

h2 {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 40px;
  font-weight: 800;
}

p {
  padding-top: 0px;
  margin-top: 0px;
}

.Ending a {
  color: #538dff;
  text-decoration: underline;
  transition: .4s;
}

.Ending a:hover {
  text-decoration: none;
  color: #ff5353;
}


